/* 滚动条css */

.matched_key {
    color: #f00000;
}

.cell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    display: none
}

::-webkit-scrollbar-thumb {
    width: 6px;
    background: rgba(144, 147, 153, .3);
    border-radius: 50px;
}